pandas
matplotlib
seaborn
gensim
numpy
streamlit
sklearn
xgboost
altair
spacy
en_core_web_sm @https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
tqdm
imblearn
eli5
pyldavis
umap-learn
tweet-preprocessor
sdv
plotly